/AlunoMediaPonderada.js
/Array Test 1.js
/ArraycomAspas.js
/AumentoValorComercio.js
/CalculoMedia.js
/ComandoFiltroArray.js
/comandokeys.js
/criarpropriedades.js
/CustoDoCarroExercicios.js
/ExercicioArray2LENGTH.js
/ExercicioArray3
/Exercicios Funções
/ExerciciosArray1.js
/ExerciciosArrayDeFrase.js
/ExerciciosArrayFinal.js
/Expressoes Regulares
/foreach.js
/Funcções
/Funções.js
/JsonExercicio.js
/LitrosViagem.js
/loopArray.js
/map.js
/objectassign.js
/OBJETO.js
/OOB
/OOBEXERCICIOS
/Switch.js
/TestandoSwithc.js
/Testeudemyexercicios.js
/udemy1.js
/VerificaçãoDeNumeroPrimo.js
/While.js